.add_btn {
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;

    -fx-background-image: url("icon/addPerson.png");
    -fx-background-size: 45px 45px;
    -fx-background-position: center;
}

.remove_btn {
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;

    -fx-background-image: url("icon/removePerson.png");
    -fx-background-size: 45px 45px;
    -fx-background-position: center;
}

.edit_btn {
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;

    -fx-background-image: url("icon/editPerson.png");
    -fx-background-size: 45px 45px;
    -fx-background-position: center;
}

.status_bar {
    -fx-border-color:black;
    -fx-pref-height: 20px;
    -fx-width: 100%
}